.mode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_mode {
    margin-right: 15px;
    margin-top: 6px;
}

.button_language {
    margin-left: 15px;
    font-size: 1.5rem;
}

.button_language svg {
    display: none;
}

.icons_line {
    font-size: 2.5rem;
}

.button_mode,
.button_language {
    background-color: transparent;
    border: none;
}

.button_mode {
    font-size: 1.8rem;
    transition: all .4s ease;
}

.button_mode:active svg {
    transform: rotate(360deg);
}

.icons_hiSun,
.light_mode,
.line_light {
    transition: var(--transition);
    color: white;
}

.icons_hiMoon,
.dark_mode,
.line_dark {
    transition: var(--transition);
    color: var(--black-font);
}

.icons_hiMoon, .icons_hiSun {
    transition: all .4s ease;
}

@media (min-width:1024px) {
    .icons_line {
        font-size: calc(1rem + 5px);
        margin-bottom: 5px;
    }

    .button_language {
        cursor: pointer;
        border-radius: 50%;
        font-size: calc(1rem + 4px);
        position: relative;
        height: 42px;
        width: 42px;
    }

    .button_language svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(90deg);
    }

    .button_language svg circle {
        stroke-dasharray: 301.59px;
        stroke-dashoffset: 301.59px;
        transition: all .4s linear;
    }

    .button_language:hover svg circle {
        stroke-dashoffset: 0;
    }

    .button_mode {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .icons_hiSun, .icons_hiMoon {
        transform: rotate(0) scale(1);
    }
    
    .icons_hiSun:hover, .icons_hiMoon:hover {
        transform: rotate(360deg) scale(1.4);
    }
}