.projects {
	display: flex;
	flex-direction: column;
	color: white;
	background-color: var(--gray);
	font-size: 1.4rem;
	padding-top: 20%;
}

.projects_title {
	text-align: start;
	max-width: 80%;
	margin: 0 0 50px 5%;
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media (min-width:1024px) {
	.projects {
		padding-top: 5%;
	}

	.projects_container {
		margin: auto;
		max-width: var(--page-max-width);
	}

	.projects_title {
		max-width: none;
		width: 55%;
		text-align: center;
		margin: auto;
		margin-bottom: 90px;
	}

	.projects_title hr {
		margin-top: 15px;
	}

	.cards {
		justify-content: space-around;
		margin: auto;
		width: 100%;
	}
}