.TopBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3E3D3D;
	position: relative;
	height: 25px;
	width: 100%;
	font-size: calc(1rem - 3px);
	font-style: italic;
}

.TopBar h2 {
	padding: 10px 0 10px 10px;
}

.circles_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 10px;
	height: 100%;
	width: 100%;
}

.circle {
	width: 8px;
	height: 8px;
	margin: 5px;
	border-radius: 50%;
	background-color: white;
	transition: all .4s ease-in;
}

.close {
	border: none;
	border-radius: 50%;
	position: absolute;
	right: -10px;
	top: -15px;
	transition: var(--transition);
	fill: #fff;
	height: 30px;
	width: 30px;
	z-index: 1;
}

.close_dark::before, .close_light::before {
	content: '';
	border-radius: 50%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width: 20px;
    height: 20px;
    z-index: -1;
}

.close_dark::before {
	background-color: var(--gray);
}

.close_light::before {
	background-color: white;
}

.close_show {
	animation-name: openAnimation;
	animation-duration: 1s;
}

.close_hide {
	transform: scale(0);
	animation-name: closeAnimation;
	animation-duration: 1s;
}

.close svg {
	height: 100%;
	width: 100%;
}

@keyframes openAnimation {
	from {
		transform: scale(0);
	}
	50% {
		transform: scale(1.5);
	}
	to {
		transform: scale(1);
	}
}

@keyframes closeAnimation {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	to {
		transform: scale(0);
	}
}

@media (min-width:1024px) {
	.close {
		right: -14px;
		top: -19px;
		height: 40px;
		width: 40px;
	}
}
/* close animation */
/* .close_animation .circle {
  border-radius: 0;
}

.close_animation .circle_one {
  transform: translateX(75%) rotate(45deg);
  width: 20px;
  height: 2px;
}

.close_animation .circle_three {
  transform: translateX(-75%) rotate(-45deg);
  width: 20px;
  height: 2px;
}

.close_animation .circle_two {
  position: absolute;
  transform: scale(0) translateY(-200%);
} */