.contact {
    color: white;
    font-size: 1.4rem;
    padding-top: 25%;
    padding-bottom: 15%;
    transition: var(--transition);
}

.contact_light {
    background-color: var(--gray-light);
    color: black;
}

.contact_dark {
    background-color: var(--gray);
    color: white;
}

.contact_section {
    margin-left: 6%;
}

.contact_title {
    max-width: 80%;
    text-align: start;
    margin-bottom: 50px;
}

.image {
    display: none;
}

.contact_section {
    display: flex;
    flex-direction: column;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contact_form input, textarea {
    border: none;
    margin: 15px 0;
    font-size: calc(1rem + 10px);
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 10px;
}

.contact_form input:focus-visible, textarea:focus-visible {
    outline: solid 2px #165520;
}

.form_button_container {
    margin-top: 25px;
}

@media (min-width:1000px) {
    .contact {
        display: flex;
        justify-content: space-between;
        padding-top: 10%;
    }

    .contact_section {
        width: 50%;
    }

    .image {
        display: flex;
        margin-left: 7%;
    }
}