.about{
  display: flex;
  flex-direction: column;
  padding: 0 7% 0 7%;
  padding-top: 30%;
  font-weight: 400;
  transition: var(--transition);
  font-size: calc(1rem + 6px);
}

.about_light{
  background-color: var(--gray-white);
  color: var(--black-font);
}

.about_dark{
  background-color: black;
  color: white;
}

.about_title{
  width: 80%;
  margin-bottom: 50px;
}

.about_title hr{
  margin-top: 7px;
}

.about_text{
  line-height: 2rem;
  width: 95%;
}

.about_button{
  width: 50%;
  border-radius: 3px;
  background-color: var(--green);
  margin: 50px 0 0 10px;
  padding: 7px 0 7px 0;
  font-weight: 300;
  border: none;
  font-size: calc(1rem + 4px);
}

.about_button a{
  color: white;
  text-decoration: none;
}