.card {
    width: 90%;
    margin: 20px 0;
    background-color: black;
    font-size: 1rem;
    position: relative;
}

.button_more {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40%;
    left: 42%;
    margin: auto;
    height: 60px;
    width: 60px;
    transition: all .4s ease-in-out;
    transform: scale(1);
    z-index: 2;
}

.button_more_hide {
    transform: scale(0);
}

.button_more svg {
    fill: #fff;
    height: 100%;
    width: 100%;
}

@media (min-width:1024px) {
    .card {
        width: 40%;
    }

    .button_more {
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        cursor: pointer;
    }
}